html, body{
  height:100%
  margin:0;
}

.row{
  display:flex;
  flex: 1 1 0;
  flex-direction: row;
  min-height: 0;
}

.cell{
    border: 1px solid #d3d3d3;
    flex: 1 1 0;
    height:100%;
    aspect-ratio: 1 / 1;
    min-width: 0;
    min-height: 0;
}

.gamegrid{
  display:flex
  flex-direction: column;
  height:100vh;
}

.alive{
    background-color:black;
}

.dead{
    background-color:white;
}


button{
    margin-top: 10px;
    font-size: 2ch;
}

